{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view" ></div>
    
	<div id="emails-list" class="container">
		<div class="row emailhead">
			<div class="col-sm h6">
				Sender
			</div>
			<div class="col-sm h6">
				Subject
			</div>
			<div class="col-sm h6 colright">
				Sent
			</div>
		</div>		
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="button" id="sendbtn" class="btn btn-primary" value="Send"/>
        </form>
    </div>
    
    <div id="mail-view">
		<div class="viewdiv">From: <label id='lblFrom' class='viewfield'></label></div>
		<div class="viewdiv">To: <label id='lblTo' class='viewfield'></label></div>
		<div class="viewdiv">Subject: <label id='lblSubject' class='viewfield'></label> </div>
		<div class="viewdiv">Timestamp: <label id='lblTimestamp' class='viewfield'></label></div>
<!--
		<div>&nbsp;</div>
-->
		<div class="viewdiv"><input type="button" class="btn btn-sm btn-outline-primary" value="Reply" ></div>
		<hr/>
        <textarea class="form-control" id="txtMailBody" placeholder="Body" disabled></textarea>
		<br/>

		<input type="button" id="btnarchive" class="btn btn-primary" value="Archive" ><!--onclick="archivemail(txtmailid.value)">
-->
		<input type="hidden" id="txtmailid">
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
